/* **************************************************** */
.left_nav,
.right_nav,
.login_container,
.home_container,
.left_nav_container,
.right_nav_container,
.tumblr_icon_container,
.search_container {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.right_nav_container,
.tumblr_icon_container {
  justify-content: right;
}

/* **************************************************** */

/* **************** Main Navbar ******************* */

.login_container {
  background-color: transparent;
}
.home_container {
  background-color: #001935;
  color: #ffffff;
}
.login_container,
.home_container {
  width: 98.8vw;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.left_nav {
  justify-content: left;
}

.left_nav,
.right_nav {
  width: 50%;
}
.no_bar {
  display: none;
}

.right_nav {
  height: 100%;
}
/* **************************************************** */

/* ************** Left Navbar container *********** */

.left_nav_container {
  width: 100%;
}
.tumblr_icon_container {
  width: 5%;
  padding: 0% 0%;
}

.search_container {
  margin-left: 20px;
  width: 90%;
}
.search_container input {
  width: 438px;
}

.tumblr_icon_container > svg:hover {
  animation-name: fill;
  animation-duration: 4s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes fill {
  0% {
    fill: rgb(229, 231, 234);
  }
  10% {
    fill: rgb(0, 255, 51);
  }
  20% {
    fill: rgb(255, 73, 47);
  }
  30% {
    fill: rgb(255, 138, 0);
  }
  40% {
    fill: rgb(232, 215, 56);
  }
  50% {
    fill: rgb(rgb(56, 226, 226));
  }
  60% {
    fill: rgb(255, 98, 206);
  }
  70% {
    fill: rgb(0, 184, 255);
  }
  80% {
    fill: rgb(2, 27, 65);
  }
  90% {
    fill: rgb(119, 119, 119);
  }
  100% {
    fill: rgba(102, 2, 94, 0.74);
  }
}
/* **************************************************** */

/* ************** Right Navbar Container*************** */
.right_nav_container {
  width: 100%;
}

.right_nav_container > div {
  margin: 0% 2% 0% 0%;
}

/* .right_nav_container div:last-child {
  margin-right: 5%;
  background-color: #29b9f2;
  width: 5%;
  padding: 0.5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
} */
