/* **************************************************** */
.left_nav,
.right_nav,
.login_container,
.home_container,
.left_nav_container,
.right_nav_container,
.tumblr_icon_container,
.search_container {
  border: 1px solid black;
  display: flex;

  align-items: center;
}

.right_nav_container,
.tumblr_icon_container {
  justify-content: right;
}

/* **************************************************** */

/* **************** Main Navbar ******************* */

.login_container {
  background-color: transparent;
}
.home_container {
  background-color: #001935;
  color: #ffffff;
}
.login_container,
.home_container {
  height: 54px;
  justify-content: space-between;
  align-items: center;
}
.left_nav {
  justify-content: left;
}

.left_nav,
.right_nav {
  width: 50%;
}
.no_bar {
  display: none;
}

.right_nav {
  height: 100%;
}
/* **************************************************** */

/* ************** Left Navbar container *********** */

.left_nav_container {
  width: 100%;
}
.tumblr_icon_container {
  width: 5%;
  padding: 1% 2%;
}

.search_container {
  width: 70%;
}

/* **************************************************** */

/* ************** Right Navbar Container*************** */
.right_nav_container {
  width: 100%;
}

.right_nav_container > div {
  margin: 0% 2% 0% 0%;
}

/* .right_nav_container div:last-child {
  margin-right: 5%;
  background-color: #29b9f2;
  width: 5%;
  padding: 0.5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
} */
