.container {
  background-color: #7c5cff;
  width: 98.8vw;
  /* height: 97vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  font-family: "Favorit, Helvetica Neue, HelveticaNeue, Helvetica, Arial,sans-serif";

}

.text {
  width: 50%;
  text-align: center;

  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: start;
  text-indent: 0px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  padding: 0px;
}

.text {
  margin-left: 10%;
}

.image {
  margin-left: 9.4%;
}

.text > h1 {
  font-size: 3rem;
  line-height: 60px;
  word-spacing: 0px;
  margin: 0px;
  font-weight: 400;
}
.text > p {
  line-height: 24px;
  margin: 0px 0px 12px;
}

.image > img {
  width: 90%;
}
